<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <!-- http://logback.qos.ch/translator/ -->
    <!-- existing log4j users can convert the log4j.properties files to logback.xml with translator online tool -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>tea.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>tea.log.%d{.yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="info" />
    <logger name="org.thymeleaf" level="info" />
    <logger name="me.ruby.tea" level="trace" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="logfile" />
    </root>
</configuration>
