<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- Provide ClassLoaderTemplateResolver To TemplateEngine -->
    <bean id="classLoaderTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
        <property name="prefix" value="messages/request/" />
        <property name="suffix" value=".xml" />
        <property name="templateMode" value="XML" />
    </bean>

    <bean id="xmlTemplateEngine" class="org.thymeleaf.TemplateEngine">
        <property name="templateResolver" ref="classLoaderTemplateResolver" />
    </bean>

</beans>