<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
</head>
<body>
<img style="width: 46px; height: 46px;" th:src="${user.headimgurl}" />
<hr/>
<label>openid：<input type="text" th:value="${user.openid}" /></label>
<label>nickname：<input type="text" th:value="${user.nickname}" /></label>
<label>sex：<input type="text" th:value="${user.sex}" /></label>
<label>province：<input type="text" th:value="${user.province}" /></label>
<label>city：<input type="text" th:value="${user.city}" /></label>
<label>country：<input type="text" th:value="${user.country}" /></label>
</body>
</html>